<div id="product-{{this.id}}" class="card">
    <img class="card-image" src="{{this.thumbnail}}" alt="Missing Image">
    <div class="card-body">
        <p class="card-title"> {{this.title}}</p>
        <p class="card-text">{{this.price}}</p>
        <a href="/product/{{this.id}}" class="anchor-buttons">Product Details</a>
    </div>
</div>