
<main class="main-content">
    {{#if results}}
    {{!-- https://artisan-aura-ifjhxbedya-uw.a.run.app/public/images/search-result-banner.jpeg      --}}
      {{#each results}}
        <a href="/product/{{this.id}}" target="_self" class="item-link">
          <div class="item">
            <h2 class="title">{{this.title}}</h2>
            <img class="image" src="https://storage.googleapis.com/artifacts.csc-648-848-team-05.appspot.com/{{this.thumbnail}}" width="200" height="150" alt="product images comming soon"/>
            {{!-- <p class="description">{{this.description}}</p> --}}
            <h2 class="price">${{this.price}}</h2>
          </div>
        </a>
      {{/each}}
    {{else}}
      <div class="container">
      <h2>No Product Found!</h2>
      <div class="banner">
                <img id="responsive-banner" src="/public/images/search-result-banner.jpeg" alt="ArtisanAura Jewelry">
            </div>
      <div style="text-align: center;">
    <h2>We couldn't find any matches for your search.</h2>
    <p>Here are some tips to help you find what you're looking for:</p>
    <ul style="list-style-type: none;">
        <li>• Check your spelling and try again.</li>
        <li>• Try using fewer words or more general terms.</li>
        <li>• Use different words that mean the same thing.</li>
        <li>HINT: Try searching "ring" or "necklace".</li>
    </ul>
    <p>Still can't find what you're looking for? Explore our top collections:</p>
    <a href="/ComingSoon">Browse our Product Collections</a>
    <p>Or, reach out to our Customer Service for personalized help:</p>
    <a href="mailto:artisanaurajewelry@gmail.com">Email Customer Service</a>
</div>
</div>
    {{/if}}
  </main>
   <link rel="stylesheet" href="/public/css/searchresults.css">