<div id="product-{{id}}" class="card">
    <div class="card-left">
        <img class="card-image" src="/{{thumbnail}}" alt="Missing Image">
    </div>
    <div class="card-right">
        <a href="/product/{{id}}" class="card-title">{{title}}</a>
        <p class="card-price">{{price}}</p>
        <p class="card-quantity">Quantity</p>
        <select name="quantity" id="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>