<link rel="stylesheet" href="/public/css/cart.css">
<main class="main-content">
    <form class="cart-form" action="/cart/checkout" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="cart-items">
            {{#if results}}
                {{#each results}}
                    <div class="card">
                        <div class="card-left">
                            <p>Title: {{this.title}}</p>
                            <img class="card-image" src="/{{this.thumbnail}}" alt="Missing Image">
                        </div>
                        <div class="card-right">
                            <a href="/product/{{this.id}}" class="card-title">{{this.title}}</a>
                            <p class="card-price">{{this.price}}</p>
                            <p class="card-quantity">Quantity</p>
                            <select name="quantity" id="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                {{/each}}
            {{else}}
            <p>Your shopping cart is empty.</p>
            {{/if}}
        </div>
        <div class="side">
            <div class="side-content">
                <p class="text">Subtotal:</p>
                <p class="cost">$0.00</p>
            </div>

            <div class="side-content">
                <p class="text">Tax:</p>
                <p class="cost">$0.00</p>
            </div>

            <div class="side-content">
                <p class="text">Shipping:</p>
                <p class="cost">$0.00</p>
            </div>

            <div class="side-content">
                <p class="text">Total:</p>
                <p class="cost">$0.00</p>
            </div>

            <input class="submit" type="submit" value="Checkout">
        </div>
    </form>

</main>