<link rel="stylesheet" href="/public/css/cart.css">
<main class="main-content">
    <div class="cart-items">
        {{#if results}}
        {{#each results}}
            {{>card this}}
        {{/each}}
        {{else}}
        <p>Your shopping cart is empty.</p>
        {{/if}}
    </div>
    <div class="side">
        <div class="side-content">
            <p class="text">Subtotal:</p>
            <p class="cost" id="subtotal">${{subtotal}}</p>
        </div>

        <div class="side-content">
            <p class="text">Tax:</p>
            <p class="cost" id="tax">${{tax}}</p>
        </div>

        <div class="side-content">
            <p class="text">Shipping:</p>
            <p class="cost">${{shipping}}</p>
        </div>

        <div class="side-content">
            <p class="text">Total:</p>
            <p class="total-cost" id="total">${{total}}</p>
        </div>
        <form class="cart-checkout" action="/cart/checkout/{{subtotal}}/{{tax}}/{{shipping}}/{{total}}" method="POST" enctype="application/x-www-form-urlencoded">
            <input class="submit" type="submit" value="Checkout">
        </form>
    </div>
</main>