<link rel="stylesheet" href="/public/css/product.css">
<main class="product-page">
    {{this.id}}
    <div class="product-images">
        <h3 class="title">{{currentProduct.title}}</h3>
        <img class="image" src="https://storage.googleapis.com/artisan-aura-photo-bucket/{{currentProduct.image}}"
            alt="product images coming soon" />
    </div>

    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <a id="review" target="_self" href="">Reviews</a>

    {{#if (isEmployee account_type) }}
        {{!-- employee controls --}}
        <form action="/product/update/{{currentProduct.id}}" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{currentProduct.title}}" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description">{{currentProduct.description}}</textarea>

            <label for="price">Price:</label>
            <input type="text" id="price" name="price" value="{{currentProduct.price}}" required>

            <input type="submit" value="Update Product">
        </form>
    {{/if}}

    <div class="product-details">
        <h3 class="price">${{currentProduct.price}}</h3>
        <div class="description">
            <label class="desc-header">Description</label>
            <p class="description">{{currentProduct.description}}</p>
        </div>
         <div class="quantity-dropdown">
            <label for="quantity">Quantity:</label>
            <select name="quantity" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <form action="/cart/add-item/{{currentProduct.id}}" method="POST" enctype="application/x-www-form-urlencoded">
           
           
            <button class="add-item">Add to cart</button>
        </form>
        <button class="add-item">Save</button>
        <button class="add-item">Share</button>

        <a href="#" class="back item">&#8249;</a>
        <a href="#" class="next item">&#8250;</a>

    </div>
    
</main>
<div class="similar">
    <h2>Similar Products:</h2>
<div class="carasouel">
    <a href="https://artisan-aura-ifjhxbedya-uw.a.run.app/product/36">
        <img src="/public/images/Necklace_02.jpg"  >
    </a>
    <a href="https://artisan-aura-ifjhxbedya-uw.a.run.app/product/50">
        <img src="/public/images/Earring_08.jpg" >
    </a>
    <a href="">
        <img src="/public/images/Earring_03.jpg" >
    </a>
</div>
